<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </p>
    </div>
  </div>

<!----------------------------->
<!------ Mars News Data ------->
<!----------------------------->
  <div class="container">
      <h2>Latest Mars News:</h2>
      <h3><b>{{ mars_data_dict.news_title}}</b></h3>
      <p>{{ mars_data_dict.news_paragraph}}</p>
  </div>

<!----------------------------->
<!------ Featured Image -------> 
<!-----------------------------> 
  <div class="container"> 
    <div class="row">
      <h2>Featured Mars Image: </h2>

      <img src="{{ mars_data_dict.featured_image_url}}" alt="Mars Featured Image">
  </div>
  </div>

<!----------------------------->
<!----- Mars Facts TABLE ------>
<!----------------------------->
  <div class="row">
    <div class="col-md-12">
  <h3><b>Mars Facts</b></h3>
  <!-- string interpolation-->
  {{mars_data_dict.mars_fact_table|safe}}
    </div>
  </div>

<!----------------------------->
<!----- Mars Hemispheres ------>
<!----------------------------->
<div class="description-header">
  <h3><b>Mars Hemisphere: </b></h3>
  <div class="row" id="Hemisphere-links">
      <div class="col-md-6">
          <div class="thumbnail">
          {% for hemisphere_dict in mars_data_dict.hemisphere_image_urls %}
          <img src="{{ hemisphere_dict.img_url}}" alt="Mars Image">
          <h4 class="heading">{{hemisphere_dict.title}}</h4>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap JavaScript -->
    <!-- jQuery, Popper.js & Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
