.jumbotron {
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-left: 9rem;
    background: rgb(122, 113, 113);

}

    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
        .btn {
            padding: 1rem;
        }
    }
